Options FollowSymLinks
RewriteEngine On

RewriteRule ^index$ index.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^settings$ index.php?sid=1 [L]
RewriteRule ^logout$ index.php?sid=3 [L]
RewriteRule ^admins$ index.php?sid=1 [L]
RewriteRule ^adminAdd$ index.php?sid=2 [L]
RewriteRule ^permsError$ index.php?sid=5 [L]
RewriteRule ^addPerm$ index.php?sid=6 [L]
RewriteRule ^deletePerm$ index.php?sid=7 [L]
RewriteRule ^perms$ index.php?sid=4 [L]
RewriteRule ^adminUpdatePass$ index.php?sid=10 [L]
RewriteRule ^informator$ index.php?sid=11 [L]
RewriteRule ^newsKategorie$ index.php?sid=14 [L]
RewriteRule ^newsGalerie$ index.php?sid=17 [L]
RewriteRule ^news$ index.php?sid=21 [L]
RewriteRule ^kluby$ index.php?sid=24 [L]
RewriteRule ^klubyNews$ index.php?sid=27 [L]
RewriteRule ^klubyGalerie$ index.php?sid=30 [L]
RewriteRule ^projekty$ index.php?sid=34 [L]
RewriteRule ^projektyNews$ index.php?sid=37 [L]
RewriteRule ^projektyGalerie$ index.php?sid=40 [L]
RewriteRule ^downloadPrzedmioty$ index.php?sid=44 [L]
RewriteRule ^downloadManage$ index.php?sid=47 [L]
RewriteRule ^slider$ index.php?sid=50 [L]
RewriteRule ^kontakt$ index.php?sid=54 [L]
RewriteRule ^searchNews$ index.php?sid=55 [L]
RewriteRule ^raporty$ index.php?sid=56 [L]
RewriteRule ^placowki$ index.php?sid=58 [L]
RewriteRule ^placowkaAddedCorrect$ index.php?sid=58&correct=ADDED [L]
RewriteRule ^placowkaRemoved$ index.php?sid=58&correct=POS_DELETED [L]
 
RewriteRule ^login-([^-]+)$ login.php?error=$1 [L]
RewriteRule ^adminsCorrect-([^-]+)$ index.php?sid=1&correct=$1 [L]
RewriteRule ^adminsError-([^-]+)$ index.php?sid=1&error=$1 [L]
RewriteRule ^adminDelete-([^-]+)$ index.php?sid=3&id=$1 [L]
RewriteRule ^adminUprawnienia-([^-]+)$ index.php?sid=8&id=$1 [L]
RewriteRule ^adminUprawnienia-([^-]+)-saved$ index.php?sid=8&id=$1&correct=1 [L]
RewriteRule ^setPerm-([^-]+)-([^-]+)-([^-]+)$ index.php?sid=9&set=$1&user_id=$2&perm_id=$3 [L]
RewriteRule ^informatorCorrect-([^-]+)$ index.php?sid=11&correct=$1 [L]
RewriteRule ^informatorError-([^-]+)$ index.php?sid=11&error=$1 [L]
RewriteRule ^informatorEdit-([^-]+)$ index.php?sid=12&id=$1 [L]
RewriteRule ^informatorDelete-([^-]+)$ index.php?sid=13&id=$1 [L]
RewriteRule ^newsKategorieEdit-([^-]+)$ index.php?sid=15&id=$1 [L]
RewriteRule ^newsKategorieDelete-([^-]+)$ index.php?sid=16&id=$1 [L]
RewriteRule ^newsKategorieCorrect-([^-]+)$ index.php?sid=14&correct=$1 [L]
RewriteRule ^newsGalerieCorrect-([^-]+)$ index.php?sid=17&correct=$1 [L]
RewriteRule ^newsGalerie-([^-]+)$ index.php?sid=17&id=$1 [L]
RewriteRule ^newsFotoDelete-([^-]+)-([^-]+)$ index.php?sid=18&galeria=$1&id=$2 [L]
RewriteRule ^newsGalerieDelete-([^-]+)$ index.php?sid=19&id=$1 [L]
RewriteRule ^newsGalerieEdit-([^-]+)$ index.php?sid=20&id=$1 [L]
RewriteRule ^news-([^-]+)$ index.php?sid=21&page=$1 [L]
RewriteRule ^newsEdit-([^-]+)$ index.php?sid=22&id=$1 [L]
RewriteRule ^newsDelete-([^-]+)$ index.php?sid=23&id=$1 [L]
RewriteRule ^klubyEdit-([^-]+)$ index.php?sid=25&id=$1 [L]
RewriteRule ^klubyDelete-([^-]+)$ index.php?sid=26&id=$1 [L]
RewriteRule ^klubyCorrect-([^-]+)$ index.php?sid=24&correct=$1 [L]
RewriteRule ^klubyNews-([^-]+)$ index.php?sid=27&page=$1 [L]
RewriteRule ^klubyNewsEdit-([^-]+)$ index.php?sid=28&id=$1 [L]
RewriteRule ^klubyNewsDelete-([^-]+)$ index.php?sid=29&id=$1 [L]
RewriteRule ^klubyGalerieCorrect-([^-]+)$ index.php?sid=30&correct=$1 [L]
RewriteRule ^klubyGalerie-([^-]+)$ index.php?sid=30&id=$1 [L]
RewriteRule ^klubyFotoDelete-([^-]+)-([^-]+)$ index.php?sid=31&galeria=$1&id=$2 [L]
RewriteRule ^klubyGalerieDelete-([^-]+)$ index.php?sid=32&id=$1 [L]
RewriteRule ^klubyGalerieEdit-([^-]+)$ index.php?sid=33&id=$1 [L]
RewriteRule ^projektyEdit-([^-]+)$ index.php?sid=35&id=$1 [L]
RewriteRule ^projektyDelete-([^-]+)$ index.php?sid=36&id=$1 [L]
RewriteRule ^projektyCorrect-([^-]+)$ index.php?sid=34&correct=$1 [L]
RewriteRule ^projektyNews-([^-]+)$ index.php?sid=37&page=$1 [L]
RewriteRule ^projektyNewsEdit-([^-]+)$ index.php?sid=38&id=$1 [L]
RewriteRule ^projektyNewsDelete-([^-]+)$ index.php?sid=39&id=$1 [L]
RewriteRule ^projektyGalerieCorrect-([^-]+)$ index.php?sid=40&correct=$1 [L]
RewriteRule ^projektyGalerie-([^-]+)$ index.php?sid=40&id=$1 [L]
RewriteRule ^projektyFotoDelete-([^-]+)-([^-]+)$ index.php?sid=41&galeria=$1&id=$2 [L]
RewriteRule ^projektyGalerieDelete-([^-]+)$ index.php?sid=42&id=$1 [L]
RewriteRule ^projektyGalerieEdit-([^-]+)$ index.php?sid=43&id=$1 [L]
RewriteRule ^downloadPrzedmiotyEdit-([^-]+)$ index.php?sid=45&id=$1 [L]
RewriteRule ^downloadPrzedmiotyDelete-([^-]+)$ index.php?sid=46&id=$1 [L]
RewriteRule ^downloadPrzedmiotyCorrect-([^-]+)$ index.php?sid=44&correct=$1 [L]
RewriteRule ^downloadManage-([^-]+)$ index.php?sid=47&id=$1 [L]
RewriteRule ^downloadManage-([^-]+)-([^-]+)$ index.php?sid=47&id=$1&folder=$2 [L]
RewriteRule ^downloadManageFolderDelete-([^-]+)-([^-]+)$ index.php?sid=53&id=$1&folder=$2 [L]
RewriteRule ^downloadPlikEdit-([^-]+)$ index.php?sid=48&id=$1 [L]
RewriteRule ^downloadPlikDelete-([^-]+)$ index.php?sid=49&id=$1 [L]
RewriteRule ^sliderEdit-([^-]+)$ index.php?sid=51&id=$1 [L]
RewriteRule ^sliderDelete-([^-]+)$ index.php?sid=52&id=$1 [L]
RewriteRule ^raporty-([^-]+)$ index.php?sid=56&page=$1 [L]
RewriteRule ^placowkiEdit-([^-]+)$ index.php?sid=59&id=$1 [L]
RewriteRule ^placowkiRemove-([^-]+)$ index.php?sid=60&id=$1 [L]